[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
databases = "==0.9.0"
environs = "==11.0.0"
quart = "==0.19.6"
aiomysql = "==0.2.0"
cryptography = "==42.0.8"
aiobcrypt = "==3.2.0.post1"

[dev-packages]
pre-commit = "==3.7.1"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
